.portfolio-container {
    background-color: #49475B;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

/* FONTS */
h1,
h2 {
    font-family: 'Permanent Marker', cursive;
    color: #91F5AD;
}

h1 {
    font-size: 82px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 18px;
}