.card {
    width: 24rem;
    color: #000;
    margin: 12px;
    min-height: 340px;
}

.work-container {
    margin-top: 80px;
}

.work-title {
    margin-top: 80px;
}

.github-logo {
    color: #000;
}

.github-logo:hover {
    color: #49475B;

}